@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --shark-50: #f6f6f6;
  --shark-100: #e7e7e7;
  --shark-200: #d1d1d1;
  --shark-300: #b0b0b0;
  --shark-400: #888888;
  --shark-500: #6d6d6d;
  --shark-600: #5d5d5d;
  --shark-700: #4f4f4f;
  --shark-800: #454545;
  --shark-900: #3d3d3d;
  --shark-950: #222222;

  --koromiko-50: #fff8ed;
  --koromiko-100: #fff0d4;
  --koromiko-200: #ffdea9;
  --koromiko-300: #ffc470;
  --koromiko-400: #fea139;
  --koromiko-500: #fc8413;
  --koromiko-600: #ed6809;
  --koromiko-700: #c54e09;
  --koromiko-800: #9c3e10;
  --koromiko-900: #7e3410;
  --koromiko-950: #441906;

  --mardi-gras-50: #fdf6fd;
  --mardi-gras-100: #f9edfa;
  --mardi-gras-200: #f2daf4;
  --mardi-gras-300: #eabceb;
  --mardi-gras-400: #dd94de;
  --mardi-gras-500: #ca6acb;
  --mardi-gras-600: #ae4bad;
  --mardi-gras-700: #903b8e;
  --mardi-gras-800: #763273;
  --mardi-gras-900: #622d5f;
  --mardi-gras-950: #2c0e2a;

  --color-base: var(--mardi-gras-950);
  --text-color-base: var(--shark-50);
  --btn-background-base: linear-gradient(
    to bottom,
    var(--koromiko-500),
    var(--koromiko-600)
  );
  --btn-color-base: var(--shark-100);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

img {
  width: inherit;
  height: inherit;
}

body {
  background: var(--color-base);
  color: var(--text-color-base);
}

.container {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  display: flex;
  gap: 48px;
}

.nav .list .link {
  color: var(--shark-200);
}

.nav .list.active .link {
  color: var(--shark-100);
}

section {
  position: relative;
  height: 100%;
  padding: 0 120px;
  display: flex;
  align-items: center;
}

.homepage {
  width: 100%;
  min-height: 100vh;
  gap: 64px;
  justify-content: space-between;
}

.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: var(--koromiko-300);
  z-index: -1;
}

.title {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.homepage .details .text {
  margin: 32px 0 24px;
}

.homepage .details .link {
  font-size: 1.2rem;
  display: inline-block;
  padding: 16px 32px;
  background: var(--btn-background-base);
  color: var(--btn-color-base);
  border-radius: 4px;
}

.homepage .img {
  width: 100%;
  height: 100%;
}

#about {
  padding: 60px 100px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  background: color-mix(in srgb, var(--mardi-gras-950) 80%, var(--shark-950));
}

#about .title {
  font-size: 1.75rem;
}

#about .text {
  font-size: 1rem;
  line-height: 1.75rem;
  opacity: 0.75;
}

#about .text:first-child {
  margin: 16px 0;
}

#information {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--color-base);
}

#information .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transform: translateY(-50%);
}

#information .info .list {
  padding: 32px 24px;
  padding-bottom: 16px;
  background: var(--shark-400);
  box-shadow: 0px 8px 45px rgba(34, 34, 34, 0.1);
}

#information .freelance {
  text-align: center;
  transform: translateY(50%);
}
